.filter-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 20px;
}

.filter-btn {
    border: none;
    border-radius: 20px;
    padding: 6px 14px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Hover */
.filter-btn:hover {
    opacity: 0.85;
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Active 상태 */
.filter-btn.active {
    opacity: 0.85;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 0 0 3px #2f5939;
}
