.wrapper{
    margin: 8px;
    padding: 12px;
    display: flex;
    max-width: 350px;
    flex-direction: column;
    border-radius: 16px;
    background-color: #eeeeee;
    aspect-ratio: 4/3;
    box-sizing: border-box;
}

.image{
    width: 100%;    /* 부모 너비에 맞게 이미지 크기 조정 */
    max-width: 200px;
    height: auto;
    flex-grow: 1;
    border-radius: 8px;
    object-fit: cover;
}

.contentContainer{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleText{
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.authorText{
    color: #555555;
    font-size: 14px;
    margin-top: 4px;
}