.user-info {
    display: flex;          /* 자식요소들을 가로로 정렬 */
    align-items: center;    /* 세로 중앙 정렬 */
    gap: 10px;              /* 아바타이미지와 이름 사이에 간격 */
    margin-bottom: 8px;     /* 아래 바깥쪽 여백 */
}

.user-info-name {
    font-weight: bold;
    font-size: 20px;
    color: #333333;
}